<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>registeration</title>
    <link rel="stylesheet" href="/static/register/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/register/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/static/register/css/styles.css">
    <style>
        .register-photo .image-holder {
            display: table-cell;
            width: auto;
            background: url("/static/register/img/meeting.jpg");
            background-size: cover;
        }
    </style>
</head>

<body style="height: 900px;">
    <section class="register-photo" style="height: 900px;">
        <div class="form-container">
            <div class="image-holder" style="width: 600px;height: 513px;"></div>
            <form method="post" id="register-form" style="width: 477px;height: 613px;">
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                <div class="form-group"><input class="form-control" id="username" type="text" name="username" placeholder="Username"></div>
                <div class="form-group"><input class="form-control" id="email" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" id="password" type="password" name="password" placeholder="Password"></div>

                <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" id="submit-form" type="submit" >Sign Up</button></div><a class="already" onclick="newLoc()">You already have an account? Login here.</a>
            </form>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.10.0/forge.min.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/tweetnacl/1.0.2/nacl-fast.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script>
        //generating ECDH keys
        function ab2str(buf) {
  return String.fromCharCode.apply(null, new Uint8Array(buf));
}

        async function exportpublicKey(key) {
  const exported = await window.crypto.subtle.exportKey(
    "spki",
    key
  );
  const exportedAsString = ab2str(exported);
  const exportedAsBase64 = window.btoa(exportedAsString);
  const pemExported = `-----BEGIN PUBLIC KEY-----\n${exportedAsBase64}\n-----END PUBLIC KEY-----`;
  return pemExported;
}


async function exportprivateKey(key) {
  const exported = await window.crypto.subtle.exportKey(
    "pkcs8",
    key
  );
  const exportedAsString = ab2str(exported);
  const exportedAsBase64 = window.btoa(exportedAsString);
  const pemExported = `-----BEGIN PRIVATE KEY-----\n${exportedAsBase64}\n-----END PRIVATE KEY-----`;
  return pemExported;
}


        async function getkey(){
  const keyPair = await window.crypto.subtle.generateKey(
    {
      name: "ECDH",
      namedCurve: "P-256",
    },
    true,
    ["deriveKey", "deriveBits"]
  );

  const publicKeyJwk = await exportpublicKey(keyPair.publicKey);

  const privateKeyJwk = await exportprivateKey(keyPair.privateKey);

  return [publicKeyJwk, privateKeyJwk];
};

        //sending and receiving data
        async function postFormDataAsJson({ url, formData ,x1}) {
	const plainFormData = Object.fromEntries(formData.entries());

	plainFormData['publickey']=x1[0];
	plainFormData['privatekey']=CryptoJS.AES.encrypt(x1[1], plainFormData['password']).toString();
    plainFormData['password']=CryptoJS.SHA256(plainFormData['password']).toString(CryptoJS.enc.Hex);

	console.log(plainFormData, typeof (plainFormData))
	const formDataJsonString = JSON.stringify(plainFormData);

	const fetchOptions = {
		method: "POST",
		headers: {
		    	"Content-Type": "application/json",
		    	Accept: "application/json",
	    	},
		    body: formDataJsonString,
	    };

	    const response = await fetch(url, fetchOptions);

	    if (!response.ok) {
		    const errorMessage = await response.text();
		    throw new Error(errorMessage);
    	}


	    return response.json();
    }

        async function handleFormSubmit(event) {
	    event.preventDefault();

	    const form = event.currentTarget;
	    const url = window.location.href;
	    console.log(url)

	    try {
		    const formData = new FormData(form);
		    var x1= await getkey();
		    console.log(x1[0],x1[1]);
		    const responseData = await postFormDataAsJson({ url, formData ,x1});

		    console.log({responseData});
		    if(responseData["messege"]=="success")
            {
                alert("user "+responseData["username"]+" successfully registered")
                window.location.href="/login";
            }
	    } catch (error) {
		    console.error(error);
	    }
    }
    function newLoc(){
            window.location.href="/login";
    }
    const exampleForm = document.getElementById("register-form");
    exampleForm.addEventListener("submit", handleFormSubmit);
    </script>

</body>

</html>